.header{
    font-size: 2em;
}

.list {
    border-radius: 8px;
    display: grid;
    grid-auto-flow: column;
    overflow-X: auto;
    /*scrollbar-color: transparent transparent;*/
    user-select: none;
    gap: 10px;
    inline-size: 100%;
}

.list::-webkit-scrollbar {
    height: 0px;
    background-color: transparent;
}

.listItem {
    list-style: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    filter: drop-shadow(0px 0px 10px #A1A5A5) ;
    padding:10px;
    inline-size: 80px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}